@if (showDialogAddEvent) {
<app-calendar-dialog
  (closeDialog)="closeDialogEvent($event)"
  (eventData)="getEventData($event)"
></app-calendar-dialog>
}

<mat-grid-list cols="7" rowHeight="30px">
  @for (day of weekDays; track $index) {
  <mat-grid-tile>{{ day }}</mat-grid-tile>
  }
</mat-grid-list>

<mat-grid-list cols="7" rowHeight="160px" cdkDropListGroup>
  @for (data of calendarData; track $index) {
  <mat-grid-tile
    (click)="addEvent($index)"
    cdkDropList
    [cdkDropListData]="data.events"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-grid-tile-header>{{ data.day }}</mat-grid-tile-header>
    <div class="grid-wrapper">
      @for (event of data.events; track $index) {
      <p
        [ngStyle]="{ 'background-color': event.color }"
        class="grid-wrapper__event"
        (click)="$event.stopPropagation()"
        cdkDrag
      >
        {{ event.name }}
      </p>
      }
    </div>
  </mat-grid-tile>
  }
</mat-grid-list>
