.calendar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0.5rem 2rem;
  border: 1px solid lightgrey;
  font-size: 1.5rem;
  gap: 20px;
}

.calendar-wrapper__left,
.calendar-wrapper__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
